/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*. {
    display: flex;
    padding: 0;
    margin-top: 0   ;
}

body{
    background-color:  #a690bc;
    margin-left: 0;
    margin-top: 0;
}

.sidebar{
    background-color: #2E2F30;
    color: #a690bc;
    width: 15%;
    height: 130vh;
    overflow-y: auto;
    text-align: center;
    float: left;
    word-wrap: break-word;
}

.sidebar-inside{
    position: fixed;
    width: 15%;
}

.sidebar h1{
    margin-top: 50%;
}
.sidebar h2{
    font-size: medium;
}

@media (max-width: 1000px){
    .sidebar h1{
        font-size: 3vw;
    }
    .sidebar h2{
        font-size: 3vw;
    }
    .sidebar a{
        font-size: 3vw;
    }
}


/* Title CSS */

.top{
    background-color: #663f74;
    position: sticky;
    margin-top: 0;
    margin-left: 15%;
}

.top h1{
    color: #EFEFEF;
    text-align: center;
    margin-left: -9%;
}

@media (max-width: 1000px){
    .top h1{
        margin-left: 5px;
    }
}

/* Content CSS */

.middle{
    text-align: center;
}

ul{
    list-style: none;
}

.article-title{
    text-align: center;
    font-family: arial, sans-serif;
    font-size: x-large;
}

.thumbnail{
    width: 20vw;
    height: 10vw;
}

@media (max-width:1000px){
    .thumbnail{
        width: 50%;
        height: 25%;
    }
}

/* Article Pages */

.desc{
    width: 90%;
    height: 70%;
    margin-left: 16%;
}

.desc p{
    width: 45%;
    position: absolute;

}

.desc img{
    width: 30%;
    position: absolute;
    margin-left: 50%;
}

.github-link{
    margin-top: 25%;
    text-align: center;
}

@media (max-width: 1000px){
    .desc img{
        width: 30%;
        margin-left: 50%;
        margin-top: 20%;
    }
    .github-link{
        margin-top: 110%;
    }
}

/* Comment Section */

.comment-section{
    margin-left: 15%;
    align-items: center;
    text-align: center;
    font-family: arial, sans-serif;
}
@media (max-width: 1000px){
    .comment-section{
        text-align: center;
    }
}


/*Button modified from https://fdossena.com/?p=html5cool/buttons/i.frag
Thanks to Federico Dossena
*/

.f-button{
    font-size: medium;
    display:inline-block;
    border:0.2em solid #663f74;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family: arial, sans-serif;
    font-weight:300;
    color: #2E2F30;
    background-color: #a690bc;
    text-align:center;
    transition: all 0.2s;
}

.f-button:hover{
    color: #a690bc;
    background-color:#663f74;
}

.github-logo{
    width: 50%;
}

/* comment section */

.comment-box{
    margin-left: 40%;
    margin-right: 25%;
    align-items: center;
    text-align: left;
    background-color: #663f74;
    border-radius: 10px;
}

.comment-box h2{
    padding-left: 4px;
    padding-bottom: 4px;
}
.comment-box p{
    padding-left: 4px;
    padding-bottom: 4px;
    word-wrap: break-word;
}

.delete-com{
    text-align: right;
}

.delete-com p{
    background: #a690bc;
}

.flash{
    background: darkorange;
    padding: 5px;
    text-align: center;
}

