<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
  <div>
    <div class="sidebar">
      <div>
        <h1>Sam Weiss</h1>
      </div>
      <div>
        <h2>
          Student of Computer Science at University of Toronto
        </h2>
      </div>
      <div>
        <a href="/">
          Projects
        </a>
      </div>
      <div style="padding-top: 5%">
        <a href='https://github.com/WeissSa'>
          Github
        </a>

      </div>
      <a href=https://github.com/WeissSa>
        <img src="https://icones.pro/wp-content/uploads/2021/06/symbole-github-violet.png" class="github-logo">
      </a>
    </div>
    <%= yield %>
  </div>
  </body>
</html>
